{% extends 'layouts/base.html' %}

{% block title %}{{judul}}{% endblock title %}

{% block css %}{% endblock css %}

{% block content-title %}{{judul}}{% endblock content-title %}

{% block content-back %}{% endblock content-back %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div style="overflow: auto;height: 78vh" class="col-sm-7 content-size">
            <table id="idtable" style="font-size:16px" class="table table-sm table-bordered bg-light">
                <thead class="bg-primary" style="position: sticky;top:0;z-index:2;">
                    <tr>
                        <th class="text-center text-uppercase align-middle">Kode Jenis Barang</th>
                        <th class="text-center text-uppercase align-middle">Nama Jenis Barang</th>
                        <th class="text-center text-uppercase align-middle">Kode Group</th>
                        <th class="text-center text-uppercase align-middle">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {%for jenis in mjenis %}
                    <tr>
                        <td>{{jenis.brgjnskode}}</td>
                        <td>{{jenis.brgjnsnama}}</td>
                        <td>{{jenis.groupkode}}</td>
                        <td><a href="{% url 'mbrg_jenisbrg_form' 'edit'%}?brgjnskode={{jenis.brgjnskode}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a onclick="return confirm('Apakah data ini akan di hapus ? {{ jenis.brgjnskode }}')" href="{% url 'mbrg_jenisbrg_delete' jenis.brgjnskode %}" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {%endfor%}
                                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    $(function () {
        $("#idtable").DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "responsive": true,
            "buttons": [{
                className: 'mr-2 btn-primary',
                text: 'TAMBAH <i class="fas fa-plus" ></i>',
                action: function(e, dt, node, config) {
                    window.location.href = '{% url "mbrg_jenisbrg_form" "tambah"%}'
                }
            },"csv", "excel", "pdf", "print"]
        }).buttons().container().appendTo('#idtable_wrapper .col-md-6:eq(0)');
    });
</script>
{% endblock js %}