{% extends 'layouts/base.html' %}

{% block title %}Data Induk{% endblock title %}

{% block css %}{% endblock css %}

{% block content-title %}Data Induk{% endblock content-title %}

{% block content-back %}{% endblock content-back %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-body">
                Arahkan kursor ke sebelah kiri, untuk melihat menu.
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}
