{% extends 'layouts/base.html' %}

{% block title %}{{judul}}{% endblock title %}

{% block css %}{% endblock css %}

{% block content-title %}{{judul}}{% endblock content-title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div style="overflow: auto;height: 78vh" class="col-sm-8 content-size">
            <table id="idtable" style="font-size:16px" class="table table-sm table-bordered bg-light">
                <thead class="bg-primary" style="position: sticky;top:0;z-index:2;">
                    <tr>
                        <th class="text-center text-uppercase align-middle">Kode Supplier</th>
                        <th class="text-center text-uppercase align-middle">Kode Barang</th>
                        <th class="text-center text-uppercase align-middle">Barang Supplier Sebelum ppn</th>
                        <th class="text-center text-uppercase align-middle">Barang Supplier Sesudah ppn</th>
                        <th class="text-center text-uppercase align-middle">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {%for barang in mbrgsupp %}
                    <tr>
                        <td>{{barang.supplierkode}}</td>
                        <td>{{barang.barangkode}}</td>
                        <td>{{barang.brgsupphbppn}}</td>
                        <td>{{barang.brgsupphsppn}}</td>
                        <td><a href="{% url 'msup_barang_form' 'edit'%}?supplierkode={{barang.supplierkode}}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                        <button linkhapus="{% url 'msup_barang_delete' barang.supplierkode %}"
                        id="buttonhapus{{ barang.supplierkode }}" onclick="modalHapus('{{ barang.supplierkode }}')"
                        class="btn btn-sm btn-dark"><i class="fas fa-trash"></i></button>  </tr>
                    {%endfor%}
                                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- MODAL HAPUS -->
<div class="modal fade" id="modalhapus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-question-circle"></i> KONFIRMASI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Anda yakin ingin menghapus data?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">TIDAK</button>
        <a id="linkhapus" type="button" class="btn btn-primary">YA</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
<script>
    function modalHapus(supplierkode) {
    var linkhapus = document.getElementById('linkhapus');
    var buttonhapus = document.getElementById('buttonhapus' + supplierkode);
    linkhapus.setAttribute('href', buttonhapus.getAttribute('linkhapus'));
    $('#modalhapus').modal('show');
    }
    $(function () {
        $("#idtable").DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "responsive": true,
            "buttons": [{
                className: 'mr-2 btn-primary',
                text: 'TAMBAH <i class="fas fa-plus" ></i>',
                action: function(e, dt, node, config) {
                    window.location.href = '{% url "msup_barang_form" "tambah"%}'
                }
            },"csv", "excel", "pdf", "print"]
        }).buttons().container().appendTo('#idtable_wrapper .col-md-6:eq(0)');
});
</script>
{% endblock js %}

