{% extends 'layouts/base.html' %} 
{% block title %}{{judul}}{% endblock title %}
{% block css %}{% endblock css %}
{% block content-title %}{{judul}}{% endblock content-title %} 
{% block content-back %}<a href="{% url 'mbrg_group' %}"class="text-white"><i class="fas fa-arrow-alt-circle-left"></i> Kembali</a>{% endblock content-back %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <!-- Default box -->
      <div class="card">
        <!-- form start -->
        <form action="{% url 'mbrg_group_post' method %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
          {% csrf_token %}
          <div class="card-body">
            <div class="form-group row">
              <label
                for="input"
                class="col-sm-4 col-form-label font-weight-normal text-sm-right"
                >Kode Group</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  name="groupkode"
                  id="groupkode"
                  maxlength="2"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="input"
                class="col-sm-4 col-form-label font-weight-normal text-sm-right"
                >Nama Group</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control "
                  name="groupnama"
                  id="groupnama"
                  maxlength="40"
                  required
                />
              </div>
              </div
            <hr />
            <button type="submit" class="btn btn-block btn-primary">
              PROSES
            </button>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>


{% endblock content %} 
{% block js %}
<script>
window.onload=function (){
    {% if method == 'edit' %}
        var groupkode = document.getElementById('groupkode');
        var groupnama = document.getElementById('groupnama');

        groupkode.setAttribute('readonly','true');
        groupkode.value = '{{data.groupkode}}';
        groupnama.value = '{{data.groupnama}}';
    {% endif %}
}
</script>
{% endblock js %}
