{% extends 'layouts/base-fullscreen.html' %}

{% block title %}Sedang Dalam Pengembangan{% endblock title %}

{% block css %}{% endblock css %}

{% block bodyclass %}hold-transition lockscreen{% endblock bodyclass %}

{% block content %}
<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <i class="fas fa-hard-hat"></i><br>
    <b>Halaman ini sedang dalam pengembangan.</b>
  </div>
  
  <!-- /.lockscreen-item -->
  <div class="text-center">
    <a class="text-white" href="{{ request.META.HTTP_REFERER }}"><i class="fas fa-arrow-alt-circle-left"></i> Kembali ke halaman sebelumnya</a>
  </div>
</div>
<!-- /.center -->
{% endblock content %}

{% block js %}{% endblock js %}